@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden */
}

html {
  @apply font-onest
}

body {
  @apply bg-gray-03 overflow-x-hidden
}

@layer components {

  /* ШРИФТЫ */
  /*
   Dektop 
   */
  .logo {
    @apply text-[#1D1D1B] text-[21.49px] font-black leading-[36.84px] tracking-[0.77px] text-center;
  }

  .onest-bold-h1 {
    @apply text-[#1D1D1B] text-[80px] font-bold leading-[110%] tracking-[-0.04em];
  }

  .onest-bold-h2 {
    @apply text-[#1D1D1B] text-[32px] font-bold leading-[120%] tracking-normal;
  }

  .onest-regular-h2 {
    @apply text-[#1D1D1B] text-[24px] font-normal leading-8 tracking-normal;
  }

  .onest-bold-h3 {
    @apply text-[#1D1D1B] text-2xl font-bold tracking-normal;
  }

  .onest-button {
    @apply text-[#1D1D1B] text-sm font-medium leading-6 tracking-[0.5px];
  }

  .onest-body-1 {
    @apply text-[#1D1D1B] text-[22px] font-normal leading-8 tracking-normal;
  }

  .onest-body-2 {
    @apply text-[#1D1D1B] text-[18px] font-normal leading-[22px] tracking-normal;
  }

  .onest-body-3 {
    @apply text-[#1D1D1B] text-[14px] font-normal leading-5 tracking-normal;
  }

  /*
 tablet
 */

  .onest-bold-h1-t {
    @apply text-[51px]
  }

  .onest-bold-h2-t {
    @apply text-[28px]
  }

  .onest-bold-h3-t {
    @apply text-base leading-5
  }

  .onest-body-1-t {
    @apply text-[14px] leading-5
  }

  .onest-body-2-t {
    @apply text-[12px] leading-4
  }

  /* 
    mobile
  */
  .onest-bold-h1-m {
    @apply text-[36px]
  }

  .onest-bold-h2-m {
    @apply text-[24px]
  }

  .onest-bold-h3-m {
    @apply text-[20px] leading-[26px]
  }

  .onest-body-1-m {
    @apply text-base leading-5
  }

  .onest-body-2-m {
    @apply text-[14px] leading-[18px]
  }
  .onest-logo-m {
    @apply text-[#1D1D1B] text-base font-black leading-6 tracking-[0.5px]
  }

  /* Components */
  .max-container {
    max-width: 1440px;
  }

  .container {
    max-width: 1220px;
  }

  .bg-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/images/hero.png");
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .black-button {
    @apply bg-customBlack rounded-[10px] px-5 max-h-12 flex justify-center items-center py-3 w-[210px] text-white onest-button transition-all duration-300 hover:bg-gray-01;
  }

  .fixed-lg {
    @apply fixed top-0 left-0 right-0 z-10
  }

  .navMenuButton {
    @apply lg:hidden w-11 h-11 border-solid border-2 rounded-[10px] border-customOrange bg-inherit mx-12 flex justify-center items-center flex-col py-2 gap-[6px] max-sm:w-[32px] max-sm:h-[32px] max-sm:mr-8 max-sm:py-[3px] max-sm:gap-[3px]
  }

  .clickwave {
    @apply w-[177px] h-[54px] max-lg:w-[120px] max-lg:h-[37px]
  }

  .zyphronix {
    @apply w-[102px] h-[71px] max-lg:w-[70px] max-lg:h-[48px] max-sm:order-2
  }

  .novasphere {
    @apply w-[192px] h-[60.5px] max-lg:w-[120px] max-lg:h-[31px] max-sm:w-[137px] max-sm:h-[35px]
  }
}